body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.content {
  flex: 1;
}

header.header {
  background-color: rgba(41, 53, 130, 1);
  background-image: linear-gradient(156deg, rgba(41, 53, 130, 1) 6%, rgba(52, 179, 76, 1) 100%);
}

footer.footer {
  background-color: rgba(41, 53, 130, 1);
  background-image: linear-gradient(333deg, rgba(41, 53, 130, 1) 6%, rgba(52, 179, 76, 1) 100%);
  text-align: center;
}

div.password-input-container {
  position: relative;
}

span.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

button.btn-custom-primary {
  background-color: #2a3980;
  border-color: #2a3980;
  color: white;
}

button.btn-custom-primary:hover,
button.btn-custom-primary:focus {
  background-color: #34b34c;
  border-color: #34b34c;
  color: white;
}

a[href='login'] {
  color: #2a3980;
}

a[href='login']:hover,
a[href='login']:focus {
  color: #34b34c;
  text-decoration: none;
}

a[href='register'] {
  color: #343a40;
}

a[href='register']:hover,
a[href='register']:focus {
  color: #007bff;
  text-decoration: none;
}
