body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.content {
  flex: 1;
}

header.header {
  background-color: #293582;
}

footer.footer {
  background-color: #293582;
  padding: 20px;
  text-align: center;
}

div.password-input-container {
  position: relative;
}

span.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

button.btn-custom-primary {
  background-color: #293582;
  border-color: #293582;
  color: white;
}

button.btn-custom-primary:hover,
button.btn-custom-primary:focus {
  background-color: #34B34C;
  border-color: #34B34C;
  color: white;
}

a[href='login'] {
  color: #293582;
}

a[href='login']:hover,
a[href='login']:focus {
  color: #34B34C;
  text-decoration: none;
}
