<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobSpec List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <style>
        body {
            color: #4a4d50; 
            font-size: large;
        }
        .list-group{
            text-align: left; 
            font-size: larger;
        }
    </style>
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">JobSpec List</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="jobSpec" class="mt-4">
            <h2 class="center">Job Specifications List</h2>
            {% if jobSpecification %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{ jobSpecification.summary }}</p>
                            {% if jobSpecification.description.length > 500 %}
                                <p class="text-danger">Description is too long ({{ jobSpecification.description.length }} characters)</p>
                            {% else %}
                                <p>{{ jobSpecification.description }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if jobSpecification.specificationLink.length > 1000 %}
                                <p class="text-danger">Specification Link is too long ({{ jobSpecification.specificationLink.length }} characters)</p>
                            {% else %}
                                <p><a href="{{ jobSpecification.specificationLink }}" target="_blank" class="btn btn-primary">LINK TO SHAREPOINT</a></p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
            {% else %}
            <div class="alert alert-danger" role="alert">
                There are no job specifications available.
            </div>
            {% endif %}
        </section>
    </main>
</body>
</html>
