<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobSpec</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>redirect job-spec</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="jobSpec" class="mt-4">
            <h2>Summary</h2>
            {% if jobSpecification %}
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="col">Role ID</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Description</th>
                        <th scope="col">Specification Link</th>
                    </tr>
                    <tr>
                        <td style="display: none;">{{ jobSpecification.roleId }}</td>
                        <td><textarea readonly>{{ jobSpecification.summary }}</textarea></td>
                        <td>{{ jobSpecification.description }}</td>
                        <td><a href="{{ jobSpecification.specificationLink }}" target="_blank">{{ jobSpecification.specificationLink }}</a></td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger" role="alert">
                There are no job-specs
            </div>
            {% endif %}
        </section>
    </main>
</body>
</html>
